In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/customers.csv", encoding="LATIN1")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [4]:
# Turn date objects to datetimes format
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [5]:
#Which product contributes most to the total revenue?
most_sales_category = df.groupby('Category')['Sales'].sum().sort_values(ascending=False)
most_sales_category

Category
Technology         836154.0330
Furniture          741999.7953
Office Supplies    719047.0320
Name: Sales, dtype: float64

In [7]:
most_profit_category = df.groupby('Category')['Profit'].sum().sort_values(ascending=False)
most_profit_category

Category
Technology         145454.9481
Office Supplies    122490.8008
Furniture           18451.2728
Name: Profit, dtype: float64

In [8]:
#Why is the furnitures profit so low?
df.groupby("Category")['Discount'].mean().sort_values(ascending=False)

Category
Furniture          0.173923
Office Supplies    0.157285
Technology         0.132323
Name: Discount, dtype: float64

In [22]:
df['Profit Margin '] = df['Profit'] / df['Sales'] * 100
df['Profit Margin ']

0       16.00
1       30.00
2       47.00
3      -40.00
4       11.25
        ...
9989    16.25
9990    17.00
9991     7.50
9992    45.00
9993    30.00
Name: Profit Margin , Length: 9994, dtype: float64

In [18]:
# Lets create a new columns cost per unit and selling per unit

df['Cost Per Unit'] = (df['Sales'] - df['Profit']) / df['Quantity']
df['SellPrice Per Unit'] = df['Sales'] / df['Quantity']
df[['Cost Per Unit', 'SellPrice Per Unit']]

      Cost Per Unit  SellPrice Per Unit
0          110.0232            130.9800
1          170.7860            243.9800
2            3.8743              7.3100
3          268.1217            191.5155
4            9.9258             11.1840
...             ...                 ...
9989         7.0484              8.4160
9990        38.1634             45.9800
9991       119.5914            129.2880
9992         4.0700              7.4000
9993        85.1060            121.5800

[9994 rows x 2 columns]

In [19]:
df['Cost Per Unit'] = df['Cost Per Unit'].round(2)
df['SellPrice Per Unit'] =df['SellPrice Per Unit'].round(2)
df[['Product Name', 'Sales','Quantity', 'SellPrice Per Unit', 'Cost Per Unit', 'Discount','Profit']].head(2)

,Product Name,Sales,Quantity,SellPrice Per Unit,Cost Per Unit,Discount,Profit
0,Bush Somerset Collection Bookcase,261.96,2,130.98,110.02,0.0,41.9136
1,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,243.98,170.79,0.0,219.5820

In [23]:
df.groupby("Category")['Profit Margin'].mean().sort_values(ascending=False)

Category
Technology         0.156138
Office Supplies    0.138030
Furniture          0.038784
Name: Profit Margin, dtype: float64

In [24]:
df[df['Category'] == "Furniture"].groupby("Sub-Category")['Profit Margin'].mean().sort_values(ascending=False)

Sub-Category
Furnishings    0.137066
Chairs         0.043900
Bookcases     -0.126640
Tables        -0.147727
Name: Profit Margin, dtype: float64

In [25]:
df[(df['Category'] == 'Furniture') & (df['Profit'] < 0)].groupby('Sub-Category')['Profit Margin'].sum().sort_values(ascending=False)

Sub-Category
Chairs        -27.431151
Bookcases     -44.672906
Tables        -63.118690
Furnishings   -97.637500
Name: Profit Margin, dtype: float64

In [26]:
df[df['Category']== "Furniture"].groupby("Product Name")['Profit'].sum().sort_values(ascending=False).head(10)

Product Name
Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back                                   1927.4420
Global Deluxe High-Back Manager's Chair                                                       1558.5910
Hon Pagoda Stacking Chairs                                                                    1540.7040
Hon 4070 Series Pagoda Armless Upholstered Stacking Chairs                                    1388.6348
Office Star - Professional Matrix Back Chair with 2-to-1 Synchro Tilt and Mesh Fabric Seat    1305.6456
Hon Olson Stacker Chairs                                                                      1292.1264
GE 48" Fluorescent Tube, Cool White Energy Saver, 34 Watts, 30/Box                            1260.2210
Hon GuestStacker Chair                                                                        1233.0848
SAFCO Arco Folding Chair                                                                      1179.3740
Hon 4070 Series Pagoda Round Back Stacking Chairs                                             1052.8144
Name: Profit, dtype: float64

In [27]:
df[df['Category'] == 'Furniture'].groupby('Product Name')['Discount'].mean().sort_values(ascending=False)

Product Name
Bush Westfield Collection Bookcases, Dark Cherry Finish, Fully Assembled    0.700000
Eldon Executive Woodline II Cherry Finish Desk Accessories                  0.600000
Atlantic Metals Mobile 2-Shelf Bookcases, Custom Colors                     0.510000
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables           0.483333
Bevis Rectangular Conference Tables                                         0.475000
                                                                              ...
Tenex Chairmats For Use With Carpeted Floors                                0.000000
Eldon Expressions Mahogany Wood Desk Collection                             0.000000
Eldon Econocleat Chair Mats for Low Pile Carpets                            0.000000
Westinghouse Floor Lamp with Metal Mesh Shade, Black                        0.000000
Westinghouse Mesh Shade Clip-On Gooseneck Lamp, Black                       0.000000
Name: Discount, Length: 380, dtype: float64

In [28]:
loss_products = df[df['Category']=='Furniture'].groupby("Product Name")["Profit"].sum().sort_values(ascending=False) 
loss_products = loss_products[loss_products < 0].sort_values()
loss_products.head(10)

Product Name
Chromcraft Bull-Nose Wood Oval Conference Tables & Bases                       -2876.1156
Bush Advantage Collection Racetrack Conference Table                           -1934.3976
Balt Solid Wood Round Tables                                                   -1201.0581
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables              -1148.4375
Riverside Furniture Oval Coffee Table, Oval End Table, End Table with Drawer   -1147.4000
Hon 2090 Pillow Soft Series Mid Back Swivel/Tilt Chairs                       -989.0496
O'Sullivan 4-Shelf Bookcase in Odessa Pine                                      -975.0988
Bretford Just In Time Height-Adjustable Multi-Task Work Tables                -964.1940
Bevis Oval Conference Table, Walnut                                             -856.0144
BPI Conference Tables                                                           -795.9725
Name: Profit, dtype: float64

In [29]:
df[df['Product Name'].isin(loss_products.index)].groupby("Product Name")['Sales'].sum().sort_values()

Product Name
Eldon 100 Class Desk Accessories                                               36.3960
Stacking Tray, Side-Loading, Legal, Smoke                                      46.5920
Anderson Hickey Conga Table Tops & Accessories                                 51.7820
Executive Impressions 16-1/2" Circular Wall Clock                              58.7840
Bush Westfield Collection Bookcases, Dark Cherry Finish, Fully Assembled       90.8820
                                                                               ...
Chromcraft Round Conference Tables                                           8209.0590
Bush Advantage Collection Racetrack Conference Table                         9544.7250
Chromcraft Bull-Nose Wood Oval Conference Tables & Bases                     9917.6400
Bretford Rectangular Conference Table Tops                                  12995.2915
Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish               15610.9656
Name: Sales, Length: 123, dtype: float64

In [30]:
correlation_matrix = df.corr()
correlation_matrix['Profit'].sort_values(ascending=False)

ValueError: could not convert string to float: 'CA-2016-152156'

In [31]:
numeric_df = df.select_dtypes(include=['number'])
print(numeric_df.head())

   Row ID  Postal Code     Sales  Quantity  Discount    Profit  \
0       1        42420  261.9600         2      0.00   41.9136
1       2        42420  731.9400         3      0.00  219.5820
2       3        90036   14.6200         2      0.00    6.8714
3       4        33311  957.5775         5      0.45 -383.0310
4       5        33311   22.3680         2      0.20    2.5164

   Profit Margin%   Cost Per Price  SellPrice Per Unit  Cost Per Unit  \
0            16.00        110.0232              130.98         110.02
1            30.00        170.7860              243.98         170.79
2            47.00          3.8743                7.31           3.87
3           -40.00        268.1217              191.52         268.12
4            11.25          9.9258               11.18           9.93

   Profit Margin  Profit Margin
0         0.1600           16.00
1         0.3000           30.00
2         0.4700           47.00
3        -0.4000          -40.00
4         0.1125           11.25

In [ ]:
correlation_matrix = numeric_df.corr()
correlation_matrix['Profit'].sort_values(ascending=False)

Profit                1.000000
Sales                 0.479064
SellPrice Per Unit    0.468311
Profit Margin         0.223732
Profit Margin%        0.223732
Profit Margin         0.223732
Cost Per Price        0.129103
Cost Per Unit         0.129103
Quantity              0.066253
Row ID                0.012497
Postal Code          -0.029961
Discount             -0.219487
Name: Profit, dtype: float64

In [45]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'SellPrice Per Unit', 'Cost Per Unit', 'Profit Margin '],
      dtype='object')

In [47]:
df.groupby('Product Name')[['Cost Per Unit', 'SellPrice Per Unit', 'Profit Margin ']].mean().sort_values(by='Cost Per Unit', ascending=False)

,Cost Per Unit,SellPrice Per Unit,Profit Margin
Product Name,,,
Cisco TelePresence System EX90 Videoconferencing Unit,4074.93,3773.080000,-8.000000
Cubify CubeX 3D Printer Triple Head Print,2959.99,2000.000000,-48.000000
Cubify CubeX 3D Printer Double Head Print,2219.99,1399.996667,-95.277778
Canon imageCLASS 2200 Advanced Copier,1819.99,3079.990000,38.466667
High Speed Automatic Electric Letter Opener,1572.03,1528.360000,-4.000000
...,...,...,...
Binder Clips by OIC,0.77,1.308571,40.571429
"OIC Binder Clips, Mini, 1/4"" Capacity, Black",0.66,1.190000,44.350000
OIC Thumb-Tacks,0.60,0.986667,38.166667
Maxell 4.7GB DVD-R 5/Pack,0.55,0.910000,38.400000
Maxell 4.7GB DVD+R 5/Pack,0.54,0.910000,39.500000